/**********************/
/*     over 352px     */
/**********************/
@media only screen and (min-width: 22em) {
  .card {
    padding: calc((30 / 16) * 1rem);
  }
}

/**********************/
/*     over 384px     */
/**********************/
@media only screen and (min-width: 24em) {
  /* form */
  .errormessage {
    position: absolute;
    top: calc((-5 / 16) * 1rem);
    right: 0;
  }
}

/**********************/
/*     over 448px     */
/*    FOOTER QUERY    */
/**********************/
@media (min-width: 28em) {
  /* Main */
  main {
    min-height: calc(100vh - calc((70 / 16) * 1rem));
  }

  /* Footer */
  footer {
    height: calc((70 / 16) * 1rem);

    flex-direction: row;
    gap: calc((10 / 16) * 1rem);
  }

  .boxv {
    display: inline;
  }
}

/**********************/
/*     over 480px     */
/**********************/
@media only screen and (min-width: 30em) {
}

/**********************/
/*     over 600px     */
/**********************/
@media only screen and (min-width: 37.5em) {
}

/**********************/
/*     over 800px     */
/**********************/
@media only screen and (min-width: 50em) {
}

/***********************/
/*     over 992px     */
/***********************/
@media only screen and (min-width: 62em) {
}

/***********************/
/*     over 1120px     */
/***********************/
@media only screen and (min-width: 70em) {
  /* Main */
  /* card */
  .card {
    max-width: calc((1000 / 16) * 1rem);

    flex-direction: row;
    gap: calc((50 / 16) * 1rem);
  }

  /* form */
  .card__form {
    gap: calc((60 / 16) * 1rem);
  }

  .radio-control {
    grid-template-columns: 1fr 1fr 1fr;
  }

  /* display */
  .card__display {
    padding: calc((40 / 16) * 1rem);
    padding-top: calc((50 / 16) * 1rem);

    flex-basis: calc((450 / 16) * 1rem);
    flex-grow: 0;
    flex-shrink: 0;

    gap: calc((50 / 16) * 1rem);
  }

  #tip-amount,
  #total {
    font-size: calc((42 / 16) * 1rem);
  }

  button[type="reset"] {
    padding: calc((12 / 16) * 1rem);
    margin-top: auto;
  }
}
