/* Fonts */

@font-face {
  font-family: "Space Mono";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/SpaceMono-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Space Mono";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/SpaceMono-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Space Mono";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/SpaceMono-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Space Mono";
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/SpaceMono-BoldItalic.woff2") format("woff2");
}

/* Colors */
:root {
  /* PRIMARY */
  --strong-cyan: hsl(172, 67%, 45%);
  /* NEUTRAL */
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
  /* OTHER */
  --error: hsl(0, 56%, 67%);
}

/* General Styling */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: calc((24 / 16) * 1rem);
  line-height: 1.3;
  font-family: "Space Mono", serif;
  font-weight: 700;
  color: var(--very-dark-cyan);
  background-color: var(--light-grayish-cyan);
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none !important;
}

/* Main */
main {
  min-height: calc(100vh - calc((100 / 16) * 1rem));

  flex-direction: column;
  gap: calc((50 / 16) * 1rem);
}

/* card */
.card {
  width: 100%;
  max-width: calc((500 / 16) * 1rem);
  background-color: var(--white);
  padding: calc((30 / 16) * 1rem) calc((10 / 16) * 1rem);
  border-radius: calc((20 / 16) * 1rem);

  display: flex;
  flex-direction: column;
  gap: calc((40 / 16) * 1rem);
}

/* form */
.card__form {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: calc((40 / 16) * 1rem);
}

.card__form .form-control {
  position: relative;
}

.card__form .form-control > label,
.card__form .radio-label {
  color: var(--dark-grayish-cyan);
  font-size: calc((16 / 16) * 1rem);
  margin-bottom: calc((10 / 16) * 1rem);

  display: block;
}

input {
  width: 100%;

  display: block;
}

input[type="number"] {
  padding: calc((5 / 16) * 1rem) calc((20 / 16) * 1rem) calc((5 / 16) * 1rem)
    calc((45 / 16) * 1rem);
  color: inherit;
  border: none;
  background: var(--very-light-grayish-cyan);
  background-repeat: no-repeat;
  background-position: center left calc((20 / 16) * 1rem);
  border-radius: calc((5 / 16) * 1rem);
  text-align: right;
}

input[type="number"]:focus,
.radio-control input + label:focus,
.radio-control input#tipcustom + label:focus {
  outline: var(--strong-cyan) calc((2 / 16) * 1rem) solid;
}

.radio-control input:checked + label:focus {
  outline: var(--strong-cyan) calc((2 / 16) * 1rem) dashed;
}

input[type="number"]#bill {
  background-image: url(../img/icon-dollar.svg);
}

input[type="number"]#people {
  background-image: url(../img/icon-person.svg);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.radio-control {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: calc((20 / 16) * 1rem);
}

.radio-control input[type="radio"] {
  display: none;
}

#tipinput {
  background-color: var(--strong-cyan);
  padding-left: calc((5 / 16) * 1rem);

  display: none;
}

#tipinput:focus {
  background-color: var(--very-light-grayish-cyan);
}

#tipinput::placeholder {
  color: var(--very-dark-cyan);
}

.radio-control input + label {
  cursor: pointer;
  background-color: var(--very-dark-cyan);
  color: var(--white);
  border-radius: calc((5 / 16) * 1rem);
  text-align: center;
  padding: calc((7 / 16) * 1rem);
}

.radio-control input + label:hover,
.radio-control input:checked + label:hover {
  background-color: var(--light-grayish-cyan);
  color: var(--very-dark-cyan);
}

.radio-control input:checked + label {
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
}

.radio-control input#tipcustom + label {
  background-color: var(--very-light-grayish-cyan);
  color: var(--dark-grayish-cyan);
  text-align: right;
  padding-right: calc((20 / 16) * 1rem);
}

.radio-control input#tipcustom + label:hover {
  background-color: var(--light-grayish-cyan);
  color: var(--very-dark-cyan);
}

.radio-control input#tipcustom:checked + label {
  display: none;
}

.radio-control input#tipcustom:checked + label {
  display: none;
}

.radio-control input#tipcustom:checked ~ #tipinput {
  display: block;
}

.errormessage {
  padding: calc((5 / 16) * 1rem) 0;
  text-align: right;
  color: var(--error);
  font-size: calc((16 / 16) * 1rem);

  display: none;
}

[aria-invalid="true"] {
  outline: 2px solid var(--error);
}

[aria-invalid="true"] ~ .errormessage {
  display: block;
}

/* display */
.card__display {
  background: var(--very-dark-cyan);
  color: var(--white);
  border-radius: calc((15 / 16) * 1rem);
  padding: calc((20 / 16) * 1rem);
  padding-top: calc((30 / 16) * 1rem);

  display: flex;
  flex-direction: column;
  gap: calc((20 / 16) * 1rem);
}

.tip-amount-container,
.total-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__display h2 {
  font-size: calc((16 / 16) * 1rem);
}

.card__display h2 span {
  font-size: calc((13 / 16) * 1rem);
  color: var(--grayish-cyan);
  line-height: 2;

  display: block;
}

#tip-amount,
#total {
  color: var(--strong-cyan);
}

button[type="reset"] {
  cursor: pointer;
  width: 100%;
  font-size: calc((20 / 16) * 1rem);
  padding: calc((7 / 16) * 1rem);
  background-color: var(--strong-cyan);
  border: none;
  color: var(--very-dark-cyan);
  border-radius: calc((5 / 16) * 1rem);
}

button[type="reset"]:hover {
  background-color: var(--light-grayish-cyan);
}

button[type="reset"]:focus {
  outline: var(--strong-cyan) calc((2 / 16) * 1rem) dashed;
}

/* Footer */
footer {
  height: calc((100 / 16) * 1rem);
  min-width: calc((170 / 16) * 1rem);
  color: var(--very-dark-cyan);
  background-color: transparent;
  font-size: calc((13 / 16) * 1rem);
  font-weight: 400;
  line-height: 1.3;

  flex-direction: column;
  gap: calc((5 / 16) * 1rem);
}

.boxv {
  display: none;
}

.attribution {
  font-size: calc((13 / 16) * 1rem);
}

.attribution a:link,
.attribution a:visited {
  color: var(--very-dark-cyan);
  padding: calc((1 / 16) * 1rem);
  text-decoration: none;
}

.attribution a:hover,
.attribution a:active {
  color: var(--dark-grayish-cyan);
}

.attribution a:focus {
  outline: var(--strong-cyan) calc((2 / 16) * 1rem) solid;
}
